{% extends "base.html" %}

{% block body %}

    <!-- <div class="card-wrapper"> -->
        
    <div class="card" name="login_card">

        <h1 class="center">Log In</h1>

        <form name="login_form">

            <label for="email">Email</label>
            <input type="email" name="email" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Log In" class="btn">

            <a href="/" name="card_toggle">Create an Account</a>

        </form>

    </div>

    <div class="card error--hidden" name="signup_card">

        <h1 class="center">Create an Account</h1>

        <form name="signup_form">

            <label for="name">Name</label>
            <input type="text" name="name" class="field" required>

            <label for="email">Email</label>
            <input type="email" name="email" class="field" required>

            <label for="password">Password</label>
            <input type="password" name="password" class="field" required>

            <p class="error error--hidden"></p>

            <input type="submit" value="Sign Up" class="btn">

            <a href="/" name="card_toggle">Log In</a>

        </form>

    </div>

    <!-- </div> -->

{% endblock%}